.header {
    background-color: #2C323C;
    background-image: url("/assets/images/geometry.svg");
    background-repeat: repeat;
    color: white;
    min-height: 400px;
    padding: 150px 200px;
    padding-bottom: 50px;
    text-align: center;
}

.header h1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: lighter;
}